<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel='tests'>

  <test thread-count="2" name="Test">
    <classes>
      <class name="day3.LoginTest"/>
      <class name="day1.Selenium_Test"/>
      <class name="day3.MyFirstTestNGTest"/>
      <class name="day3.AssertionDemo"/>
      <class name="day2.HandleAutoSuggestions5"/>
      <class name="day2.HandleAutoSuggestions4"/>
      <class name="day3.DemoTestNG"/>
      <class name="day2.HandleAutoSuggestions3"/>
      <class name="day2.HandleAutoSuggestions2"/>
      <class name="day1.MyFirstTestScript3"/>
      <class name="day1.MyFirstTestScript2"/>
      <class name="day3.Handle"/>
      <class name="day1.Selenium_Edge"/>
      <class name="day1.MyFirstTestScript"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
